textarea,
.result-box {
  line-height: 1.4;
  text-align: justify;
  padding: 1rem;
  border-radius: $radius;
  border: 1px solid $border;
  min-height: 200px;
  font-size: 1rem;
}

textarea {
  width: calc(100% - 2rem);
  resize: none;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 2px rgba($primary, 0.2);
    transition: all 0.4s ease;
  }
}

.result-box {
  background: darken($color: $bg, $amount: 0.8);
}

.controls {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

select {
  padding: 0.5rem;
  border-radius: $radius-sm;
}
